:root {
  --main-title-color: white;
  --second-title-color: #2f303a;
  --third-title-color: #f5f4fa;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  text-decoration-color: none;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header .container {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.navigation {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  margin-right: 331px;
}
.web {
  color: #2196f3;
}
.logo {
  font-family: "Oleo Script", cursive;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  margin-right: 93px;
}
.navigation-list {
  display: flex;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  box-sizing: inherit;
}
.contacts {
  font-family: "Roboto";
  display: flex;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
.contacts-icon-email {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  fill: #757575;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon-phone {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  fill: #757575;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email {
  position: relative;
  display: flex;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone {
  display: flex;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email:hover,
.email:focus {
  color: var(--accent-color);
}
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}
.email:hover .contacts-icon-email {
  fill: var(--accent-color);
}
.email:focus .contacts-icon-email {
  fill: var(--accent-color);
}
.phone:hover .contacts-icon-phone {
  fill: var(--accent-color);
}
.phone:focus .contacts-icon-phone {
  fill: var(--accent-color);
}
.hero-work-example {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  border: 0px;
  border-radius: 4px;
  padding: 5.89px 22.4px 5.89px 22.4px;
  transition-property: background-color #2196f3, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.button-list-item {
  display: flex;
}
.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.project-item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.project-item-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover .project-overlay {
  transform: translateY(0%);
}

.project-overlay-text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 23px;
}
.project-discription {
  width: 100;
  padding: 20px 24px 20px 24px;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}
.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-image {
  min-width: 100%;
}
.project-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.logo-footer {
  display: flex;
  margin-bottom: 20px;
}
.adress-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}
.footer-section {
  font-family: "Roboto";
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  font-family: "Oleo Script", cursive;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.container-row {
  display: flex;
  flex-direction: row;
}
.join-in-social-links {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding-top: 12px;
}
.join-us {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-icon-footer {
  margin: 12px;
  fill: #ffffff;
}
.social-link-list-footer {
  display: flex;
  flex-direction: row;
}
.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 44px;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-item-footer:not(:last-child) {
  margin-right: 10px;
}
.social-link-footer {
  height: 44px;
  display: block;
}
.social-link-footer:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.social-link-footer:focus {
  background-color: #2196f3;
  border-radius: 50%;
}
.social-link-footer:focus .social-icon-footer {
  margin: 12px;
  fill: #ffffff;
}
.subscription {
  margin-left: 93px;
  margin-right: auto;
  padding-top: 12px;
}
.subscription-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20PX;
}
.subscription-section {
  display: flex;
}
.subscription-form {
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}
.subscription-form-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;  
}
.subscription-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-button:hover {
  cursor: pointer;
}
.subscription-button-text {
  margin-right: 10px;
}
.sign-button-icon {
display: flex;
fill: #FFFFFF;
}

.subscription-form-input {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6); 
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: none;
}
