.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-clients__text {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-clients__list {
  display: flex;
}
.our-clients__item {
  display: flex;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ya-co-company__icon {
  fill: #afb1b8;
  width: 41px;
  height: 46.7px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tagline-here-company__icon {
  fill: #afb1b8;
  width: 40px;
  height: 52px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company__icon {
  fill: #afb1b8;
  width: 43px;
  height: 41px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.foster-peters-company__icon {
  fill: #afb1b8;
  width: 84px;
  height: 41px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.brand-company__icon {
  fill: #afb1b8;
  width: 62px;
  height: 45px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tag-line-company__icon {
  fill: #afb1b8;
  width: 94px;
  height: 44px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__item:not(:last-child) {
  margin-right: 30px;
}
.our-client__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.our-clients__item:hover {
  border-color: #2196f3;
  cursor: pointer;
}
.our-client__icon:hover .ya-co-company__icon {
  fill: #2196f3;
}
.our-client__icon:hover .tagline-here-company__icon {
  fill: #2196f3;
}
.our-client__icon:hover .company__icon {
  fill: #2196f3;
}
.our-client__icon:hover .foster-peters-company__icon {
  fill: #2196f3;
}
.our-client__icon:hover .brand-company__icon {
  fill: #2196f3;
}
.our-client__icon:hover .tag-line-company__icon {
  fill: #2196f3;
}
.our-client__icon:focus .ya-co-company__icon {
  fill: #2196f3;
}
.our-client__icon:focus .tagline-here-company__icon {
  fill: #2196f3;
}
.our-client__icon:focus .company__icon {
  fill: #2196f3;
}
.our-client__icon:focus .foster-peters-company__icon {
  fill: #2196f3;
}
.our-client__icon:focus .brand-company__icon {
  fill: #2196f3;
}
.our-client__icon:focus .tag-line-company__icon {
  fill: #2196f3;
}
